
body { 
  margin: 0;
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
  min-height: 7000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  box-sizing: border-box;
}
.banner{
  width: 100%;
  height: 769px;      
  box-sizing: border-box;
  padding:  16px ;
  background-color: #211C24;
}
.bannerTop{
  width: 100%;
  height: 344px;      
  box-sizing: border-box;
  margin-top:  88px;
  align-items: center;
  flex-direction: column;
  display: flex;
  }
  .bannerBottom{
    width: 100%;
    height: 1672px;      
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    display: flex;
    }
    .bannerBottomAirPodsMax{
      width: 100%;
      height: 376px;      
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      display: flex;
      }
      .bannerAppleVisionPro{
        width: 100%;
        height: 376px;      
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: #353535;
        }
        .bannerPlaystation5{
          width: 100%;
          height: 424px;
          text-align: center;     
          box-sizing: border-box;
          align-items: center;
          flex-direction: column;
          display: flex;
          background-color:white;
          justify-content: center;

          }
          .MacbookAir{
           width: 100%;
           height: 504px;
           text-align: center;      
           box-sizing: border-box;
           align-items: center;
           flex-direction: column;
           display: flex;
           background-color:#EDEDED;
           
            } 
           .Categories{
           width: 100%;
           height: 624px;      
           box-sizing: border-box;
           align-items: center;
           flex-direction: column;
           display: flex;
           padding: 0 16px;
           }
            .CategoryTop{
            width: 100%;  
            height: 32px;
            margin-top: 64px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            } 
            .CategoryBottom{
            width: 100%;    
            height: 416px;
            margin-top: 48px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 16px;
            }
            .CategoryItem{
              width: 100%;    
              height: 128px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 16px;
            
            } 
            .CategoryItemTop{
              flex: 1;
              width: 100%;    
              height: 128px;
              background-color: #EDEDED;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              border-radius: 8px;
            } 