
body { 
  margin: 0;
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
  min-height: 7000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  box-sizing: border-box;
}
.banner{
  width: 100%;
  height: 769px;      
  box-sizing: border-box;
  padding:  16px ;
  background-color: #211C24;
}
.bannerTop{
  width: 100%;
  height: 344px;      
  box-sizing: border-box;
  margin-top:  88px;
  align-items: center;
  flex-direction: column;
  display: flex;
  }
  .bannerTopİmage{
    width: 100%;
    height: 289px;      
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    display: flex;
    }
  .bannerBottom{
    width: 100%;
    height: 1672px;      
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    display: flex;
    }
    .bannerBottomAirPodsMax{
      width: 100%;
      height: 376px;      
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      display: flex;
      }
      .bannerAppleVisionPro{
        width: 100%;
        height: 376px;      
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: #353535;
        }
        .bannerPlaystation5{
          width: 100%;
          height: 424px;
          text-align: center;     
          box-sizing: border-box;
          align-items: center;
          flex-direction: column;
          display: flex;
          background-color:white;
          justify-content: center;

          }
          .MacbookAir{
           width: 100%;
           height: 504px;
           text-align: center;      
           box-sizing: border-box;
           align-items: center;
           flex-direction: column;
           display: flex;
           background-color:#EDEDED;
           
            } 
           .Categories{
           width: 100%;
           height: 624px;      
           box-sizing: border-box;
           align-items: center;
           flex-direction: column;
           display: flex;
           padding: 0 16px;
           }
            .CategoryTop{
            width: 100%;  
            height: 32px;
            margin-top: 64px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            } 
            .CategoryBottom{
            width: 100%;    
            height: 416px;
            margin-top: 48px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 16px;
            }
            .CategoryItem{
              width: 100%;    
              height: 128px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 16px;
            
            } 
            .CategoryItemTop{
              flex: 1;
              width: 100%;    
              height: 128px;
              background-color: #EDEDED;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              border-radius: 8px;
            } 
            .products{
              width: 100%;
              min-height: 1632px;      
              box-sizing: border-box;
              align-items: center;
              flex-direction: column;
              display: flex;
              } 
              .productsTop{
                width: 100%;
                height: 32px;    
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                margin-top: 56px;
                margin-left: 16px;
                } 
                .productsBottom{
                  width: 100%;
                  min-height: 1456px;      
                  box-sizing: border-box;
                  align-items: center;
                  flex-direction: row;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  }
                  .productItems{
                    width: 100%;
                    height: 352px;      
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    
                    }
                    .productItemİphone14Pro{
                      width: 100%;
                      height: 352px;      
                      box-sizing: border-box;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      background-color: #F6F6F6;
                      border-radius: 8px;
                      }
.bigBanner{
  width: 100%;
  height: 712px;      
  box-sizing: border-box;
  position: relative;
  background-color: #F9F9F9;
}
  .Halfimage{
   width: 339px;
  height: 334px;
  position: absolute;   
  top: 0;               
  right: 0;  
    }
    .bigBannerText{
      width: 100%;
      height: 208px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      margin-top: 392px;
    }
    .Discount{
      width: 100%;
      height: 896px;      
      box-sizing: border-box;
      align-items: center;
     flex-direction: column;
     display: flex;
    }
    .DiscountText{
      width: 100%;
      height: 32px;
      box-sizing: border-box;
      margin-top: 56px;
      margin-left: 16px;
    }
    .Discountİtems{
                  width: 100%;
                  height: 720px;      
                  box-sizing: border-box;
                  align-items: center;
                  flex-direction: row;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  margin-top: 32px;
                                   }
                    .DiscountitemTop{
                    width: 100%;
                    height: 352px;      
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    }
                    
                    
    
                .DiscountİtemTopİphoneGold{
                width: 100%;
                height: 352px;      
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #F6F6F6;
                border-radius: 8px;
                
    }
    .banner2{
    width: 100%;    
    height: 440px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .banner2Text{
      width: 100%;
      height: 232px;
      margin-top: 54px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    } 
.footer{
    width: 100%;
    height: 814px;
    background-color: #181313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    
  }
  .footerContent{
    width: 100%;
    height: 663px;      
    box-sizing: border-box;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .footericons{
    width: 173px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}